# PostgreSQL
POSTGRES_USER=football
POSTGRES_PASSWORD=football123
POSTGRES_DB=football_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin123

# Pipeline config
LEAGUES=E0,D1,SP1,I1,F1
SEASONS=2425,2526
